.Game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
p {
  line-height: 1;
  padding: 0 1em;
}
.row {
  display: flex;
}
.grow { flex: 1; }
.space {
  background: 0;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  line-height: 0;
  outline: 0;
}
.space[disabled] {
  cursor: auto;
}
.space-content {
  align-self: center;
  /* border-radius: 12.5%; */
  flex: 1;
  text-align: center;
}
.goal { fill: #FFD000; }
.off {opacity:.5}
.bg0, button.bg0:hover[disabled] {
  background: #101010; }
.bg1, button.bg1:hover[disabled] {
  background: 0; }
.p0.t0 .space-content, .t0.available { background-color: rgba(0,255,255,.05); }
.p1.t1 .space-content, .t1.available { background-color: rgba(255,0,0,.05); }
.t0.available { border-color: rgba(0,255,255,.1); }
.t1.available { border-color: rgba(255,0,0,.1); }
.t1.bg0.available:hover, .t1.bg0.selectable:hover { background: #201010; }
.t1.bg1.available:hover, .t1.bg1.selectable:hover { background: #200000; }
.t0.bg0.available:hover, .t0.bg0.selectable:hover { background: #102020; }
.t0.bg1.available:hover, .t0.bg1.selectable:hover { background: #002020; }
.reset {
  display:block;
  background: 0;
  border: #202020 solid;
  border-width: 1px;
  color: #808080 !important;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  line-height: 46px;
  padding: 0 1em;
}
.reset span {
  display: block;
  white-space: nowrap;
}