* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background: #000;
  display: flex;
}
body, button {
  color: #FFF;
}
#root, .App {
  display: flex;
  flex-direction: column;
  flex: 1;
}
